
    <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">

                {%for item in section.content.items%}
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="{{item.i_class}}"></i>
                                <h4 class="text-uppercase m-0">{{item.heading}}</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50 ">{%if item.href%} <a href="{{item.href}}"> {{item.sub_heading}} </a> {%else%}  {{item.sub_heading}} {%endif%}</div>
                            </div>
                        </div>
                    </div>
                {%endfor%}
                    
                </div>
                <div class="social d-flex justify-content-center">
                    {%for item in section.content.socials%}
                    <a class="mx-2" href="{{item.href}}"><i class="{{item.i_class}}"></i></a>
               {%endfor%}
                </div>
            </div>
        </section>