 <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="{{section.content.heading_class}}">{{section.content.heading}}</h1>
                    <h2 class="{{section.content.sub_heading_class}}">{{section.content.sub_heading}}</h2>
                    <a class="{{section.content.btn_class}}" href="{{section.content.btn_href}}">{{section.content.btn_text}}</a>
                </div>
            </div>
        </header>