      {%load static%}
      <!-- Signup-->
        <section class="signup-section" id="{{section.content.id}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="{{section.content.i_class}}"></i>
                        <h2 class="{{section.content.heading_class}}">{{section.content.heading}}</h2>
                        <form class="form-inline d-flex">
                            <input class="{{section.content.form.input.class}}" id="{{section.content.form.input.id}}" type="{{section.content.form.input.type}}" placeholder="{{section.content.form.input.placeholder}" />
                            <button class="{{section.content.form.button.class}}" type="{{section.content.form.button.type}}">{{section.content.form.button.text}}</button>
                        </form>
                    </div>
                </div>
            </div>
    